.radix-site-nav {
    color: rgba(255, 255, 255, 0.8);
    background-color: #990000;
    font-size: 15px;
    font-weight: 300;
}
  
d-title{
  background-image: url('img/logo.png');
  background-repeat: no-repeat;
  background-position: 55% 70%;
  background-size: 8%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

